rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function hasValidRoom(roomId) {
      return roomId.size() == 48;
    }

    function hasValidItem() {
      return request.resource.data.keys().hasOnly([
          'quantity',
          'updatedAt',
          'updatedBy'
        ])
        && request.resource.data.quantity is number
        && request.resource.data.quantity > 0
        && request.resource.data.quantity <= 100000
        && request.resource.data.updatedBy == request.auth.uid;
    }

    match /rooms/{roomId}/items/{productId} {
      allow read: if request.auth != null && hasValidRoom(roomId);
      allow create, update: if request.auth != null
        && hasValidRoom(roomId)
        && hasValidItem();
      allow delete: if request.auth != null && hasValidRoom(roomId);
    }
  }
}
